JWT_SECRET=
DB_PASSWORD=
REDIS_PASSWORD=

# AIhubMix
AI_BASE_URL=https://aihubmix.com/v1
AI_API_KEY=sk-

# 阿里百炼
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=sk-


OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_REGION=cn-hangzhou
OSS_BUCKET=lingshu-files
OSS_ENDPOINT=mychat-files.mychat.ink
OSS_BASE_URL=https://lingshu-files.oss-cn-hangzhou.aliyuncs.com

GRPC_FILEPARSING=
GRPC_AIRESPONSE=
GRPC_ONLINESEARCH=