JWT_SECRET=33396
DB_PASSWORD=3339
REDIS_PASSWORD=3339

AI_BASE_URL=https://aihubmix.com/v1
AI_API_KEY=sk-7TyyTuD8pXcUhiG5D208C6Fb

VOLCENGINE_KEY=ee37110a-8163-49
VOLCENGINE_URL=https://ark.cn-beijing.volces.com/api/v3/bots

ALIBABA_CLOUD_ACCESS_KEY_ID=LTAI5tLzj
ALIBABA_CLOUD_ACCESS_KEY_SECRET=TCzqwHE
OSS_REGION=cn-hangzhou
OSS_BUCKET=lingshu-files
OSS_BASE_URL=https://lingshu-files.oss-cn-hangzhou.aliyuncs.com
OSS_ENDPOINT=mychat-files.mychat.ink
OSS_BASE_URL=https://lingshu-files.oss-cn-hangzhou.aliyuncs.com